body {
    margin: 0;
    padding: 0;
    background-color: chartreuse;   
}
.container {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
    "meni meni meni"
    "odabir graf1 graf2"
    "odabir graf3 graf4";
}

#meni {
    grid-area: meni;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#meni ul {
    text-align: center;
    padding: 10px;
    list-style-type: none;
    background-color: rgb(121, 165, 231);
}

#meni ul li {
    padding: 10px;
    font-size: 15px;
    display: inline;
}

#meni li:hover {
    background-color: rgb(255, 136, 136);
}

#meni a {
    color: black;
    text-decoration: none;
}

#odabirVjezbe {
    grid-area: odabir;
}

#graf1 {
    grid-area: graf1;
    margin: 0;
    padding: 0;
}

#graf2 {
    grid-area: graf2;
    margin: 0;
    padding: 0;
}

#graf3 {
    grid-area: graf3;
    margin: 0;
    padding: 0;
}

#graf4 {
    grid-area: graf4;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    object-fit: scale-down;
    max-width: 100%;
    flex: 1;
    min-height: 0;
    max-height: 100%;
}
.block {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    background-color: #e7e7e7;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.zad {
    display: block;
    margin: 5px;
    width: auto;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}
#dugme {
    display: block;
    width: 100%;
    border: none;
    background-color: #e7e7e7;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.odabirZadatka {
    background-color: cadetblue;
}
#odabirVjezbe {
    background-color: lightblue;
    padding: 5px;
}
@media screen and (max-width:499px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "meni"
        "odabir"
        "graf1"
        "graf2"
        "graf3"
        "graf4";
    }
}
@media only screen and (min-width:500px) and (max-width:799px) {
    .container {
        display: grid;
        height: 100%;
        grid-gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "meni"
        "odabir"
        "graf1"
        "graf2"
        "graf3"
        "graf4";
    }
    img {
        display: block;
        object-fit: scale-down;
        max-width: 100%;
        min-height: 0;
        max-height: 100%;
        align-self: center;
    }
}